@charset "UTF-8";



.barra_tanc {
    background-color: #1225f8;
    color: #ffffff;
    padding: 10px 18px;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Inter", sans-serif;
  }