@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.barra_tanc {
  background-color: #1225f8;
  color: #ffffff;
  padding: 10px 18px;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1700px;
  margin: 140px auto 40px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}

.eventInfo {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .eventName {
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .eventDetails {
    p {
      margin: 8px 0;
      color: #666;
      font-size: 16px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.backButtonTop {
  position: fixed;
  top: 90px; 
  right: 70px;
  z-index: 100;
  }

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
  background-color: #1225f8;
  color: white;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #0e1ecf;
    transform: translateY(-2px);
  }
}

// /*  */
// .credenciados {
//   /* ... */
// }

// .footer {
//   /* ... */
// }

.eventImage {
  width: 100%;
  border-radius: 4px;
  margin-top: 1rem;
  object-fit: cover;
}